<h1>GET Request Received</h1>
<table>
    <tr>
        <td>Parameter</td>
        <td>Value</td>
    </tr>
    {{#each data}}
        <tr>
        <td>{{this.name}}
        <td>{{this.value}}
        </tr>
    {{/each}}
</table>